.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -webkit-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
body,html{
  padding: 0;
  margin:0;
font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}

.modalLog,.modalReg{
  border-radius: 4px;
  width: 80% !important;
  height: auto !important;
  margin-left: 40px !important;
  margin-top:30%;
  background: #f7f7f7 !important;
}
.loginModal,.registerModal{
  border:none;
  border-radius: 0;
}
.logForm, .regForm{
background: #f7f7f7;
  margin:45px 20px 20px 20px;
}
.betButtonQuickPick{
  border:#30415d 1px solid;
  background: #30415d;
  color:white;
  padding: 15px !important;
  margin:0 !important;
  width:100% !important;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.quickTableBet>tr>td{
  border:none !important;
  width:50%;
  padding:4px !important;
}
.betButton{
  border:#30415d 1px solid;
  background: #30415d;
  color:white;
  margin:10px !important;
}
button:disabled,
button[disabled]{
  color: #666666;
    border:#30415d 1px solid;
    background: #2f7284;
    color:white;
    margin:10px !important;
}

.formLogBtn,.formRegBtn,.userBtn {
  border:#30415d 1px solid;
  background: #30415d;
  color:white;
  margin:10px;
}
.input-group-prepend{
  border:1px solid #ced4da!important;
  border-right: none !important;

}
.inputForm,{
  border:1px solid #ced4da !important;
  border-left: none !important;
  border-radius: 2px;
  outline:0 !important;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  font-size:14px;
}
.form-control{
outline:0 !important;
}
.inputForm:hover, .inputForm:active, .inputForm:focus{
  outline:white !important;
  cursor: pointer;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.nextRace>a,.nextRace0>a{
  text-decoration: none;
}
.nextRace>a{

    color:white;
}
.nextRace0>a{

    color:#f4f4f2;
}
.tableHorsesLive>thead>tr>th,.tableHorsesLive>tbody>tr>td{
  border:none;
  padding:5px;
  margin:0;
  width: 3px;
  font-size:11px;
}
.input-group-text{
  background:white;
  border:none;
}
.lineDiv,.betButton{

    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.line{
width: 0;
height: 6px;
border-bottom: 10px solid #42ab09;
position: relative;
border-radius:10px;
}

.moneyTot{
  position: relative;
  left:3px;
  right:0;
  top:0;
}
.loginQuickButton{
  background: #EE693F !important;
  color:WHITE !important;
  padding: 10px 0 10px 0 !important;
  width:100%;
  margin-top:4px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.registerQuickButton{
  background: #42ab09 !important;
  color:white !important;
  padding: 10px 0 10px 0 !important;
  width:100%;
  margin-top:4px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.registerQuickButton{
  border: none;
  border-radius: 4px;
}

.loginQuickButton{
  border: none;
  border-radius: 4px;
}

@media (min-width: 1024px) {

  .w3-sidebar{
    width:20% !important;
  }
}
#login,#register{
  -webkit-box-shadow: 7px -4px 300px 6px rgba(0,0,0,0.75);
box-shadow: 7px -4px 300px 6px rgba(0,0,0,0.75);
}

.nextRace0{
  -webkit-box-shadow: -4px 4px 30px -7px rgba(0,0,0,0.32);
  box-shadow: -4px 4px 30px -7px rgba(0,0,0,0.32);
  margin:5px;
  float:left;
  border-radius:6px;
  background:#30415d !important;
  border:none !important;
  padding-left:2.5px;
  padding: 6px 6px 10px 6px;
  text-align:center;
  width:50px;
  height:50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nextRace{
  margin:5px;
  float:left;
  border-radius:6px;
  background:#30415d !important;
  border:none !important;
  color:white;
  padding: 6px 6px 10px 6px;
  width:50px;
  height:50px;
  text-align:center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.liveTag{
  font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
  position:relative;
  top:-25px;
  left:0px;
  color:red;
  border:red solid 1px;
  border-radius:5px;font-size:12px;
  text-align: center;
  padding:2px 3px 2px 3px;
  height:22px;
  width:45px;
  margin-left:8px;
}
.nextRaceS{
  background:#42ab09 !important;

}

.listNextRace{
}
.closeButtonLeftMenu{
  position:relative;
  text-align:right;
  padding:16px 4px 16px 4px !important;
}
.popUpBet{
  padding:15px;
  box-shadow: 0px 6px 15px 7px #92CCFF;
  background:white;
  font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.dollarStakeInpt{
  position:relative;
  top:-30px;
  left:-70px;
  color:black;
  padding:8px 10px 10px 0;
  border-right:solid #ced4da 1px
}


#pswd_info {
    position:absolute;
    bottom: -70px; /* IE Specific */
    left:0;
    width:250px;
    padding:15px;
    background:#fefefe;
    font-size:11px;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}
#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}


#message{
  margin:0;
  position: absolute;
  font-size: 13px
}
.invalid{
  color:red;
}
.valid{
  color:green;
}
.lineFinished{
  width: 0;
  height: 6px;
  border-bottom: 10px solid #9C1006;
  position: relative;
  border-radius:10px
}
.number{
  font-size:12px;
  position:relative;
  top:3px;
  left:5px
}
.circle{
  position:relative;
  top:3px
}
.rowDown{
  position:relative;
  top:1px;
  left:0;
  border-right:2px grey solid;
  width:10px;
  height:15px;
}

.imHere{
  border:2px solid #30415d !important;
  border-radius: 10px;
  height:65px;
}

.nextRaceL{
  margin:5px;
  float:left;
  border-radius:6px;
  background:#42ab09 !important;
  border:none !important;
  color:white;
  padding: 6px 6px 10px 6px;
  width:50px;
  height:50px;
  text-align:center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
button:disabled,
button[disabled]{
  background-color: #7c8fad !important;
  border: none;
}
a{
  text-decoration: none !important;
  color:white;
}
